<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Map Runner</title>
  <style>
    body {
        margin: 0;
        box-sizing: border-box;
        color: white;
        font-family: Arial;
        overflow: hidden;
    }

    #canvas {
      background: #111115;
    }

    #canvas:focus {
      outline: none;
    }

    #game {
      position: relative;
      width: max-content;
      height: max-content;
    }

    .block {
      display: block;
    }
    
    #mapList {
      background: #111115;
    }
      
  </style>
</head>
<body>
  <div id="game">
<!--       <canvas id="canvas" tabindex=1>You browser is too old to use canvas technologies.</canvas> -->
  </div>
  <div id="mapList">
    <ul>
    <% maps.forEach((map, id) => { %>
      <input type="radio" name="map" id="<%= id %>">
        <label for="<%= id %>">
          <span class="mapName"><%= map.name %></span> <span class="mapAuthor"><%= map.author %></span> <span class="mapLength"><%= map.cols %>x<%= map.rows %></span></label><br>
    <% }) %>
    </ul>
  </div>
  
  <button id="test">Test</button>
  
  
  <script type="text/javascript" src="./map/load.js">></script>
  <script type="text/javascript" src="./game.js"></script>
  <script type="text/javascript" src="./map/save.js">></script>
  </body>
</html>