<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Map Runner</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <div id="game">
<!--       <canvas id="canvas" tabindex=1>You browser is too old to use canvas technologies.</canvas> -->
  </div>
  <div id="mapList">
    <ul>
    <% maps.forEach((map, id) => { %>
      <label class="map" for="map_<%= id %>" onclick="checkForClick().bind(this)">
        <input type="radio" name="map" id="map_<%= id %>">
        <span class="mapName"><%= map.name %></span> 
        <span class="mapLength"><%= map.cols %>x<%= map.rows %></span> 
        <span class="mapAuthor"><%= map.time %></span>
      </label><br>
    <% }) %>
    </ul>
  </div>
  
  <button id="test">Test</button>
  
  
  <script type="text/javascript">
    function checkForClick() {
      console.log(this)
      var oldSlected = document.querySelector('#mapList .map.selected')
      if(oldSlected) oldSlected.classList.remove('selected')
      this.classList.add('selected')
    }
  </script>
  
  <script type="text/javascript" src="./map/load.js"></script>
  <script type="text/javascript" src="./game.js"></script>
  <script type="text/javascript" src="./map/save.js"></script>
  </body>
</html>